<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
	<title>拼图游戏</title>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/jigsaw.css">
</head>
<body>
	<header class="f-cb">
		<a class="left" href="javascript:history.back()"><</a>
		<h1>拼图游戏</h1>
	</header>
	<div class="content">
		<div class="count f-cb">
			<span class="left">计时:<span class="time" id="time">00::12:05</span></span>
			<span class="right">进度:<span class="finished" id="finished">3%</span></span>
		</div>
		<div class="canvas">
			<canvas id="board" width="300" height="300">Canvas not supported</canvas>
		</div>
	</div>
	<video id="video" poster>
		<source src="/video/test.mp4" />
		<source src="/video/test.ogg" />
	</video>
	<button id="resetButton">reset</button>
	<script src="/js/jigsaw.js"></script>
	<script src="/js/lib/requestNextAnimationFrame.js"></script>
</body>
</html>
